.blackButton {
  all: unset;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.whiteButton {
  all: unset;
  background-color: white;
  color: black;
  cursor: pointer;
}
