.blackButton {
  all: unset;
  background-color: rgb(39, 39, 39);
  border: 2px solid rgb(39, 39, 39);
  color: white;
  padding: 0.2rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 1s ease, color 1s ease;
}

.whiteButton {
  all: unset;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  color: rgb(39, 39, 39);
  padding: 0.2rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.blackButton:hover {
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  color: rgb(39, 39, 39);
  transform: rotate(-4deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.whiteButton:hover {
  transform: rotate(-4deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
